<div>
  <div *ngFor="let availability of availabilities?.availabilities">
    <h3>{{availability.type}}</h3>   
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" type="button" (click)="changeAvailability(availability.type, -1)">-</button>
      <input type="text" class="form-control" placeholder="0" 
        [(ngModel)]="availability.availableCount" (ngModelChange)="updateAvailabilty(availability)" />
      <button class="btn btn-outline-secondary" type="button" (click)="changeAvailability(availability.type, 1)">+</button>
    </div>
  </div>
</div>
